.button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 200px;
  border: 0;
  border-radius: 2rem;
  background-color: #7e92c4;
  color: white;
  font-size: 1.25rem;
  font-weight: bold;
  margin: 10px;
  transition: 0.2s;

  &:hover {
    background-color: #1f2968;
  }

}

.active {
  background-color: #1f2968;
}

.inactive {
  background-color: var(--gray-100);
  color: var(--lightblue-100);

  &:hover {
    background-color: var(--gray-100);
    cursor: auto;
  }
}

@media (max-width: 767px) {
  .button {
    width: calc(33.333% - 1rem);
    min-width: 90px;
    height: 2.5rem;
    font-size: 0.9rem;
    margin: 4px;
  }
}
