.container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: var(--lightblue-100);
  background-color: var(--lightblue-500);
  height: 4rem;
  margin-bottom: 2rem;
  border-radius: 10px;

  ul {
    margin-top: 1rem;
    display: flex;
    li {
      display: block;
      padding-right: 4rem;
      margin-left: 1rem;
      position: relative;

      &:not(:last-child) {
        margin-bottom: 1rem;
      }

      &:not(.done):before {
        content: '';
        position: absolute;
        top: 1.2em;
        left: -1rem;
        margin-top: -0.9em;
        background: linear-gradient(
          45deg,
          var(--lightblue-100),
          var(--blue-400)
        );
        height: 12px;
        width: 12px;
        border-radius: 50%;
        transition: 1s;
      }
      &:not(.done):hover {
        font-weight: bold;
        &:before {
          background: linear-gradient(
            -45deg,
            var(--blue-200),
            var(--lightblue-500)
          );
        }
      }
    }
  }
}

.done {
  &:before {
    content: '';
    position: absolute;
    top: 1em;
    left: -1.3rem;
    margin-top: -0.9em;
    background-image: url('./../../../public/images/yes.png');
    background-size: cover;
    height: 16px;
    width: 16px;
    transition: 1s;
  }
  &:hover {
    font-weight: bold;
  }
}

@media (max-width: 767px) {
  .container {
    width: 50rem;
    h3 {
      font-size: 1.5rem;
    }

    ul {
      li {
        font-size: 1.3rem;
        padding-right: 2rem;
      }
    }
  }
}
