.container {
  display: flex;
  flex-direction: row;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@media (max-width: 767px) {
  .container {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 0.75rem;
    padding: 0 1rem;
    height: auto;
  }
}
