.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 2rem;
  height: 83vh;
  overflow-x: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #7e92c4;

  h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
  }

  h2 {
    text-align: center;
    width: 50ch;
    font-size: 1.5rem;
    font-weight: 400;
  }

  p {
    margin: 1rem 0;
  }

  h3 {
    margin: 1rem 0 2rem 0;
  }

  ul {
    display: block;
    margin-left: -10px;
    li {
      display: block;
      position: relative;

      &:not(:last-child) {
        margin-bottom: 1rem;
      }

      &:before {
        content: '';
        position: absolute;
        top: 1.2em;
        left: -30px;
        margin-top: -0.9em;
        background: linear-gradient(45deg, #7e92c4, #1f2968);
        height: 12px;
        width: 12px;
        border-radius: 50%;
      }
    }
  }

  section {
    width: 700px;
    height: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

@media (max-width: 767px) {
  .container {
    width: 100%;
    height: auto;
    padding: 0 1rem;
    justify-content: flex-start;

    h1 {
      font-size: 2.5rem;
      height: auto;
    }

    h2 {
      font-size: 1.5rem;
    }

    p {
      font-size: 1rem;
    }

    h3 {
      font-size: 1.2rem;
    }

    ul {
      li {
        font-size: 1.5rem;
      }
    }

    section {
      flex-direction: column;
      width: 100%;
      height: auto;
      justify-content: center;
      margin-top: 1.5rem;
    }
  }
}
