.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
  margin: 2rem 5rem 0;
  min-height: 25rem;
  background-color: var(--blue-200);
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  
  h4 {
    margin: 1rem;
    color: var(--lightblue-200);
    font-size: 1.5rem;
  }
  
  .viewer {
    width: 1140px;
    border-radius: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 450px;
  }

  form {
    padding-top: 3rem;
    width: 60rem;
    display: flex;
    justify-content: center;
    gap: 0;
    label {
      background-color: #c5cee0;
      border-bottom-left-radius: 10px;
      border-top-left-radius: 10px;
      padding: 0.35rem 0.5rem;
      color: #1f2968;
      border: 1px solid #c5cee0;
      width: 30rem;
      text-align: right;
      word-break: break-word;
    }

    input {
      padding: 0.35rem 0.5rem;
      border: 1px solid #c5cee0;
      &:focus {
        border: 1px solid #66afe9;
        box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%),
          0 0 8px rgb(102 175 233 / 60%);
        outline: none;
      }
    }

    button {
      background-color: #0e6ab6;
      border: solid 1px #0e6ab6;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      color: #e6f2ff;
      padding: 0.35rem 0.5rem;
      font-size: 1rem;
      width: 10rem;
    }
  }
}

@media (max-width: 1350px) {
  .container {

    .viewer {
      width: 700px;
      max-height: 750px;
    }
  }

}

@media (max-width: 991px) {
  .container {

    form {
      width: 35rem;
      input{ 
        width: 5rem;
      }
      button {
        width: 4rem;
      }
    }

    .viewer {
      width: 550px;
      max-height: 750px;
    }
  }

}

@media (max-width: 767px) {
  .container {
    width: 100%;
    margin: 1.5rem auto 0;
    max-width: calc(100% - 2rem);
    padding: 0 1rem;
    overflow: hidden;

    form {
      width: 100%;
      padding-top: 1.5rem;
      flex-wrap: nowrap;
      gap: 0;

      label {
        flex: 1 1 auto;
        width: auto;
        text-align: right;
        border-radius: 10px 0 0 10px;
        min-width: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      input {
        flex: 0 1 5rem;
        min-width: 4rem;
      }

      button {
        width: auto;
        padding: 0.35rem 0.6rem;
      }
    }


    h4 {
      margin: 2rem 0;
    }

    .viewer {
      width: 100%;
      max-height: 750px;
      padding-right: 0;
    }
  }

}
