.copyright {
  background: var(--blue-200);
  padding-top: 20px;
  margin: 0rem 5rem 4rem;
  height: 15rem;
  transition: 0.2s;
  bottom: 0;
  position: relative;
  color: var(--lightblue-200);
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  
  a {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;

    span {
      display: flex;
      flex-direction: column;
      margin-top: 0.5rem;
      font-size: 14px;
    }
  }

  &:hover {
    color: #1f2968;
  }
}

@media (max-width: 767px) {
  .copyright {
    width: calc(100% - 2rem);
    max-width: 1120px;
    height: auto;
    margin: 0 auto 3rem;
    padding-bottom: 1.5rem;
    a {
      width: 100%;
      font-size: 2rem;
      span {
        font-size: 1.5rem;
        div {
          img {
            width: 100px;
          }
        }
      }
    }
  }
}
